name: C Build and Test

on:
  push:
    branches:
      - main
      - development
      - release
  pull_request:
    branches:
      - main
      - release

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Compile application and tests
      run: |
        gcc -c main.c -o main.o
        gcc -c test_main.c -o test_main.o
        gcc -c unity.c -o unity.o
        gcc main.o test_main.o unity.o -o test_runner
    
    - name: Run tests
      run: ./test_runner

    - name: Install doxygen
      run: sudo apt-get install -y doxygen
      
    - name: Generate docs
      run: doxygen Doxyfile

    - name: Deploy docs to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/html
